* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
}
:root {
    --play-width: 0;
}
body {
    min-height: 100vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50%;
    position: relative;
}
.container:hover .controls {
    display: flex;
}
video {
    width: 100%;
    height: auto;
}
.controls-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.progress {
    width: 100%;
    height: 5px;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.progress-filled {
    width: var(--play-width);
    height: 100%;
    background-color: red;
    position: relative;
    z-index: 2;
}
.progress-filled::after {
    content: "";
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: -2px;
    right: -2px;
    box-shadow: 0px 0px 5px 0px #121212;
    z-index: 3;
}
.progress:hover .progress-filled::after {
    display: inline-block;
}
.controls {
    display: none;
    width: 94%;
    margin: 5px 0 15px 3%;
    justify-content: space-between;
}
.left-controls,
.right-controls {
    display: flex;
    align-items: center;
    color: white;
}
.left-controls i {
    cursor: pointer;
}
.left-controls i:nth-child(2) {
    margin: 0 15px;
}
.btn {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.right-controls .btn:nth-child(2) {
    margin: 0 10px 0 15px;
}

input[type="range"] {
    appearance: none;
    cursor: pointer;
    width: 120px;
    height: 10px;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}

.input-color {
    background-image: linear-gradient(to right, red 50%, white);
}
@media (max-width: 800px) {
    .container {
        width: 90%;
    }
}
